alembic
anthropic
arrow
attrs
Babel
beautifulsoup4
bleach
cachetools
catboost
click
dash
Flask
fsspec
google-cloud-storage
graphviz
huggingface-hub
Jinja2
jupyter
jupyterlab
lightgbm
matplotlib
nltk
notebook
numpy
optuna
pandas
plotly
polars
pydantic
Pillow
protobuf
psycopg2-binary
PyYAML
requests
scikit-learn
scipy
seaborn
sentence-transformers
sentencepiece
shap
shapely
SQLAlchemy
torch
torchvision
transformers
xgboost
